<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta tag -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Benchmark Web Server </title>
    <meta name="description" content="TeSePr is a young energetic company with right blend of Technology and business knowledge, with an inclination to build a complete end to end solution for all its customers.">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/content/assets/css/line-awesome_1.3.0_line-awesome_css_line-awesome.min.css" />
    <!-- favicon -->
      <link rel="apple-touch-icon" href="http://tesepr.com/Content/assets/images/fav.ico">
        <link rel="shortcut icon" type="image/x-icon" href="~/content/assets/new_images/favicon.ico"> 

    <link rel="stylesheet" type="text/css" href="../Content/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/content/assets/css/font-awesome_6.4.2_css_all.min.css" />
    <link rel="stylesheet" type="text/css" href="../Content/assets/fonts/flaticon.css">
    <link rel="stylesheet" type="text/css" href="../Content/assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="../Content/assets/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../Content/assets/css/slick.css">
    <link rel="stylesheet" type="text/css" href="../Content/assets/css/off-canvas.css">
    <link rel="stylesheet" type="text/css" href="../Content/assets/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="../Content/assets/css/rsmenu-main.css">
    <link rel="stylesheet" type="text/css" href="../Content/assets/css/rs-spacing.css">
    <link rel="stylesheet" type="text/css" href="../Content/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../Content/assets/css/responsive.css">
    @* <link href="~/content/assets/css/font-awesome_4.7.0_css_font-awesome.min.css" rel="stylesheet" /> *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    @RenderBody()
</body>
</html>
